:root {
  --red: #931621;
  --teal: #42d9c8;
  --black: #000000;
  --blue: #4056f4;
  --grey: #808080;
  --voted-button: #0077b6;
  --middle-button: #00b4d8;
  --unvoted-button: #dadada;
  --space-top: 50px;
  --space-side: 330px;
}

/* vote palette: https://coolors.co/palette/03045e-0077b6-00b4d8-90e0ef-caf0f8 */

html,
body {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

label.btn:focus {
  box-shadow: none !important;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: var(--space-top);
}

.Main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.link,
.link:hover {
  color: inherit;
  text-decoration: inherit;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  flex-shrink: 1;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
}

.navbar .container-fluid {
  padding-left: var(--bs-gutter-x, 1rem);
}

nav.navbar {
  padding: 0.25em;
}

.nav-item .nav-link {
  display: inline;
}

.active .nav-link {
  color: #fff !important;
}

.logo {
  margin-right: 1em;
}

.Browser {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1em;
  margin-left: var(--space-side);
}

.fullBrowser {
  margin-left: -(var(--space-side));
}

.Sidebar {
  position: fixed;
  width: var(--space-side);
  height: 100%;
  height: calc(100% - var(--space-top));
  top: var(--space-top);
  z-index: 1;

  background-color: #dee2e6;
  display: flex;
  flex-direction: column;
  flex: 0 var(--space-side);
  padding: 1em;
  font-size: small;
  overflow: auto;
}

.Sidebar .accordion-button {
  padding: 0.5em;
}

.Sidebar > div {
  flex: 1;
}

.Browser .card {
  flex: 0 1 auto;
  margin: 0 1em 1em 0;
}

.Browser .card .card-body {
  flex-shrink: 1;
  padding: 0em;
}

.Tags {
  margin-top: -1em;
  justify-content: flex-start;
}

.Tags .badge {
  margin-top: 1em;
  margin-right: 1em;
  background-color: var(--teal);
  font-size: 1em;
}

.about {
  margin-top: 2em;
}

.card-title,
.year-badge {
  margin-left: 0.25em;
}

.year-badge {
  font-size: 0.75em !important;
  background-color: var(--grey);
}

.card-image {
  object-fit: cover;
  width: 200px;
  height: 150px;
}

.vis-page .btn,
.modal-body .btn {
  padding: 0.1em 0.25em;
}

.vis-page .btn-group,
.modal-body .btn-group {
  margin-left: 1em;
}

.vis-page .row,
.modal-body .row {
  margin-bottom: 0.5em;
}

.vis-page .btn-primary,
.modal-body .btn-primary {
  border-color: #004cf5;
}

.vis-page {
  padding: 0.25em 2vw 2vw 2vw;
}

.Browser .card-body {
  background-color: #f3f3f3;
}

.auth-button,
.visualization {
  cursor: pointer;
}

.categories label.btn {
  background-color: var(--blue);
}

.btn-group button {
  color: white;
  -webkit-transition: background 500ms ease-out;
  -moz-transition: background 500ms ease-out;
  -o-transition: background 500ms ease-out;
  transition: background 500ms ease-out;
}

.myvote {
  background-color: var(--voted-button) !important;
}

.vote {
  background-color: var(--middle-button);
}

.vote:hover,
.myvote:hover {
  background-color: var(--middle-button) !important;
  color: #ffffff !important;
}

.novote {
  background-color: var(--unvoted-button);
  color: #3d3d3d !important;
}

.novote:hover {
  background-color: var(--middle-button);
  color: #ffffff !important;
}

div.btn-group button {
  border-color: rgb(160, 160, 160);
  border-width: 1px;
}

.h5 {
  padding-top: 5px;
  font-size: 1em;
}

.statistics {
  margin-bottom: 1em;
}

.statistics > .card-body {
  padding-bottom: 0.5em;
}

.stats {
  margin: 0 0.5em 1em;
  padding: 1em;
}

.stats > .col {
  padding: 0;
}

.subCategory {
  display: flex;
  padding: 0;
}

.stats,
.visualization {
  border: 2px solid var(--unvoted-button);
  -webkit-transition: border 250ms ease-out;
  -moz-transition: border 250ms ease-out;
  -o-transition: border 250ms ease-out;
  transition: border 250ms ease-out;
}

.stats:hover,
.visualization:hover {
  border: 2px solid var(--middle-button);
  border-radius: 0.25rem;
}

#item-header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#item-header-year {
  margin-left: 1em;
}

.tagBadge {
  background-color: var(--middle-button);
  border: none;
  font-size: 1em;
  margin-right: 0.25em;
}

.tagGrey {
  background-color: var(--unvoted-button);
  border: none;
  color: black !important;
  font-size: 1em;
  margin-right: 0.25em;
}

.tag-category {
  margin-right: 0.5em;
}

#voting {
  max-width: 50%;
}

#navigate-back {
  border: 0px solid #212529;
}

#img-placeholder {
  height: 500px;
}

.dropdown-heading {
  height: 2em !important;
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus,
.btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
:focus,
:active:focus,
.active:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
  box-shadow: none !important;
}

#sidebar-show {
  flex: 0 0 100%;
}

#sidebar-show,
#sidebar-hide {
  display: none;
}

.popover-body {
  text-align: center;
}

.viscard {
  width: "fit-content";
  height: "fit-content";
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.modal-body canvas.img-fluid {
  max-height: 50vh;
}

a.lightbox canvas.img-fluid {
  max-height: 100%;
}

div.vis-page canvas.img-fluid {
  max-height: 90vh;
}

/** 
LIGHTBOX MARKUP 
Source: https://codepen.io/gschier/pen/kyRXVx
**/

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* A bit of padding around image */
  padding: 3em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: flex;
  justify-content: center;
}

.lightbox:target canvas {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 992px) {
  #voting {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #voting {
    width: 100%;
    max-width: 100%;
  }

  div.navbar-nav {
    display: flex;
    align-items: center;
  }

  .nav-item {
    justify-content: center;
    padding: 0.5em;
  }
}

@media only screen and (max-width: 600px) {
  div.navbar-brand span {
    display: none;
  }

  .visualization,
  .card,
  .card-image,
  .viscard,
  .Sidebar {
    width: 100%;
  }

  #sidebar-show,
  #sidebar-hide {
    display: block;
  }
}
